[data-icon],
[data-icon-b]:before,
[data-icon-a]:after        {
   content: '';
   display: inline-block;

   color: transparent;
   direction: ltr;
   text-align: left;
   text-indent: 0;
   text-shadow: none;

   overflow: hidden;
   vertical-align: middle;

   background-repeat: no-repeat;
   background-color: transparent;
}
[data-icon]                   {font: 0/0 a;}
[data-icon-b]:before          {margin-right: .25em;}
[data-icon-a]:after           {margin-left: .25em;}

[data-icon="pen"],
[data-icon-b="pen"]:before,
[data-icon-a="pen"]:after      {width: 26px; height: 26px; background-image: url('icon-pencil.png');}